@{
    ViewBag.Title = "Admins";
}

<form asp-controller="Admins" asp-action="AddAdmin2" method="post">
    <label for="Admins">New admin username:</label>
    <input type="text" name="Admins" value="" />
    <input type="submit" value="Submit" class="submit" />
</form>

@foreach (var item in Model)
{
    <div>
        @item
        <hr />
    </div>
}