@{
    ViewData["Title"] = "Home Page";
}
<div class="Index">
    <div class="expander b-example-divider"></div>
    <section>
        <div class="container pt-4">
         <div class="row">
            <div class="col-12">
               <center>
                  <h1 class="display-4"><b>Project TriK</b></h1>
                  <p><h2><i>Why waste time using many apps when one app do TriK?</i></h2></p>
               </center>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <center>
                  <i class="fas fa-fast-forward fa-5x"></i>
                  <h4 class="mt-2">Speed</h4>
                  <p class="text-justify text-center">Enjoy quick response system.</p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <i class="fas fa-lock fa-5x"></i>
                  <h4 class="mt-2">Safety</h4>
                  <p class="text-justify text-center">Your data is safe.</p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <i class="fas fa-brain fa-5x"></i>
                  <h4 class="mt-2">ML Modules</h4>
                  <p class="text-justify text-center">Use our machine learning modules.</p>
               </center>
            </div>
         </div>
      </div>
    </section>
    <section class="expander">
        <img src="/img/baner.png" class="img-fluid" style="width:100%; height:25px;" />
    </section>
        <section>
        <div class="container pt-4">
         <div class="row">
            <div class="col-md-4">
               <center>
                  <i class="fas fa-compass fa-5x"></i>
                  <h4 class="mt-2">Simple</h4>
                  <p class="text-justify text-center">It's easy to use.'</p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <i class="fas fa-comments fa-5x"></i>
                  <h4 class="mt-2">Supported</h4>
                  <p class="text-justify text-center">Direct support team for your problems.</p>
               </center>
            </div>
            <div class="col-md-4">
               <center>
                  <i class="fas fa-signal fa-5x"></i>
                  <h4 class="mt-2">Effective</h4>
                  <p class="text-justify text-center">Give it a try!</p>
               </center>
            </div>
         </div>
      </div>
    </section>
    <section class="expander">
        <img src="/img/baner.png" class="img-fluid" style="width:100%; height:25px; transform: rotateY(180deg);" />
    </section>
    <section>
    <div class="container pt-5">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col cartshadow">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Standard</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/month</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1000 records included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register for free</a>
            </button>
          </div>
        </div>
      </div>
      <div class="col cartshadow">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/month</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5000 records included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">
                <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Start</a>
            </button>
          </div>
        </div>
      </div>
      <div class="col cartshadow">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$30<small class="text-muted fw-light">/month</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10000 records included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">
                <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Join us today!</a>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
<div class="expander b-example-divider mb-5"></div>
</div>