@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero section -->
 <section class="hero-area" style="background-image: url('images/banner/hero-area.jpg');">
 	<div class="block">
 		<h1>Experience the new reality</h1>
 		<h2>Why do you waste time using many apps when one of them does the <b class="text-white">TriK</b>?</h2>
 		<a href="#aboutus" class="btn btn-transparent smooth-scroll">About Us</a>
 	</div>
 </section>

<!-- About us section -->
<section id="aboutus" class="bg-one about section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>About <span class="color">Us</span> </h2>
					<div class="border"></div>
				</div>
			</div>
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block">
					<div class="icon-box">
						<i class="tf-tools"></i>
					</div>
					<div class="content text-center">
						<h3 class="ddd">Creativity</h3>
						<p>Three student from AGH that could combine experience with C#, HTML and ML in order to create this software </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<i class="tf-strategy"></i>
					</div>
					<div class="content text-center">
						<h3>Reliability</h3>
						<p>This is our first project on a scale like that but we work hard in order to develop our skills with every single assignment</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<i class="tf-anchor2"></i>
					</div>
					<div class="content text-center">
						<h3>Ambition</h3>
						<p>We pursue knowledge each day and gain new experience with every single line of code we create</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- About us 2 section -->
<section class="section about-2 padding-0 bg-dark" id="about">
	<div class="container-fluid p-0">
		<div class="row no-gutters align-items-center">
			<div class="col-lg-6">
				<img class="img-fluid" src="images/about/about-business-man.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>We’re just a group of students.</h2>
					<p>This project is our Engineering Thesis.</p>
					<p>Thus we do our best in order to create something that is both complex on backend, but easy to use for users.</p>
					<p>We hope that you will enjoy using our application.</p>
					<div class="row">
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-circle-compass"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Databases</h4>
									<p>We store the reports as simple SQL lines, which makes it very simple to use but helps us to analyze it with high accuracy.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-hotairballoon"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Easy data input</h4>
									<p>All you do is select needed numbers from the list and the report is generated and compared to other in the database
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Call to action section -->
<section class="call-to-action section-sm bg-1 overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Great Design & Incredible Features</h2>
				<p>We need users to input some data, the more the better! <br> At least that is our motto</p>
				<a href="~/Identity/Account/Register" class="btn btn-main">Register</a>
			</div>
		</div>
	</div>
</section>

<!-- Start services section -->
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Our <span class="color">Services</span></h2>
					<div class="border"></div>
				</div>
			</div>
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-globe"></i>
					</div>
					<h3>Application wordlwide</h3>
					<p>Our app may be applied in any country in the world, it's beginner friendly and any organisation could use it for storing data and analyzing it.</p>
				</div>
			</article>
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-laptop"></i>
					</div>
					<h3>Responsive Design</h3>
					<p>App was created in order to serve both on PC and phones, tablets or any device you'd imagine, even on Smart TV.</p>
				</div>
			</article>
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-genius"></i>
					</div>
					<h3>Machine learning</h3>
					<p>Our project involves advanced algorithms that enable us to find similarities between different data inputs.</p>
				</div>
			</article>
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-dial"></i>
					</div>
					<h3>Graphic Design</h3>
					<p>All of us work hardly in order to make it look both accessible and smooth, using HTML and CSS tools.</p>
				</div>
			</article>
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<i class="tf-target3"></i>
					</div>
					<h3>Image extension</h3>
					<p>With our project you can store pictures connected to the data you input and analyze it as well.</p>
				</div>
			</article>
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="service-block text-center kill-margin-bottom">
					<div class="service-icon text-center">
						<i class="tf-lifesaver"></i>
					</div>
					<h3>Cloud solution</h3>
					<p>Thanks to cloud nature of our project, you can access it anytime, anywhere and don't worry about 404 error, providing you have internet connection of course.</p>
				</div>
			</article>
		</div>
	</div>
</section>

<!-- Team skills section -->
<section id="team-skills" class="parallax-section section section-bg overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Our <span class="color">Skills</span></h2>
					<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>We’ve skilled in wide range of web and <br>
					Other digital market tools.</h2>
				<p>This is our first project but we are proud of it.</p>
				<img class="img-fluid" src="images/about/company-growth.png" alt="">
			</div>
			<div class="col-md-6 mt-4 mt-md-0">
				<ul class="skill-bar">
					<li>
						<p><span>01-</span> Databases</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
								style="width:92%">
							</div>
						</div>
					</li>
					<li>
						<p><span>02-</span> Responsivity</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
								style="width:73%">
							</div>
						</div>
					</li>
					<li>
						<p><span>03-</span> Design</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
								style="width:81%">
							</div>
						</div>
					</li>
					<li>
						<p><span>04-</span> Programming</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
								style="width:80%">
							</div>
						</div>
					</li>
					<li>
						<p><span>04-</span> Machine learning</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
								style="width:64%">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<!-- Counter section -->

<section id="counter" class="parallax-section bg-1 section overly">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
				<div class="counters-item">
					<i class="tf-ion-android-happy"></i>
					<span class="jsCounter" data-count="320">0</span>
					<h3>Happy students</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
				data-wow-delay="200ms">
				<div class="counters-item">
					<i class="tf-ion-archive"></i>
					<span class="jsCounter" data-count="565">0</span>
					<h3>Files included</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
				data-wow-delay="400ms">
				<div class="counters-item">
					<i class="tf-ion-thumbsup"></i>
					<span class="jsCounter" data-count="95">0</span>
					<h3>Positive feedback</h3>

				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms"
				data-wow-delay="600ms">
				<div class="counters-item kill-margin-bottom">
					<i class="tf-ion-coffee"></i>
					<span class="jsCounter" data-count="2500">0</span>
					<h3>Cups of Coffee</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Our Team section -->
<section id="our-team" class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>Our <span class="color">Team</span></h2>
					<div class="border"></div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="500ms">
				<div class="team-member">
					<div class="member-photo">
						<img class="img-fluid" src="images/team/team-1.jpg" alt="Meghna">
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="member-meta">
						<h4 class="h5">Katarzyna Więcław</h4>
						<span>Azure owner xd</span>
						<p>Tell us something about yourself.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="team-member">
					<div class="member-photo">
						<img class="img-fluid" src="images/team/team-3.jpg" alt="Meghna">
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="member-meta">
						<h4 class="h5">Jakub Makówka</h4>
						<span>Placeholder</span>
						<p>You tell me.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<img class="img-fluid" src="images/team/team-4.jpg" alt="Meghna">
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="member-meta">
						<h4 class="h5">Krzysztof Skociński</h4>
						<span>Placeholder</span>
						<p>Yes.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Pricing section -->
<section id="pricing" class="pricing section section-bg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="title text-center wow fadeInDown" data-wow-duration="500ms">
					<h2>Our Greatest<span class="color"> Plans</span></h2>
					<div class="border"></div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="200ms">
				<div class="price-item">
					<div class="price-title">
						<h3>Free</h3>
						<p><strong class="value">$99</strong>/ month</p>
					</div>
					<ul>
						<li>1GB Disk Space</li>
						<li>10 Email Account</li>
						<li>Script Installer</li>
						<li>10 GB Bandwidth</li>
						<li>24/5 Tech Support</li>
					</ul>
					<a class="btn btn-transparent" href="~/Identity/Account/Register">Signup</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="400ms">
				<div class="price-item">
					<div class="price-title">
						<h3>Silver</h3>
						<p><strong class="value">$149</strong />/ month</p>
					</div>
					<ul>
						<li>2GB Disk Space</li>
						<li>25 Email Account</li>
						<li>Script Installer</li>
						<li>10 GB Bandwidth</li>
						<li>24/7 Tech Support</li>
					</ul>
					<a class="btn btn-transparent" href="~/Identity/Account/Register">Signup</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="600ms">
				<div class="price-item">
					<div class="price-title">
						<h3>Gold</h3>
						<p><strong class="value">$199</strong />/ month</p>
					</div>
					<ul>
						<li>5GB Disk Space</li>
						<li>50 Email Account</li>
						<li>Script Installer</li>
						<li>25 GB Bandwidth</li>
						<li>Priority Email Support</li>
					</ul>
					<a class="btn btn-transparent" href="~/Identity/Account/Register">Signup</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="750ms">
				<div class="price-item">
					<div class="price-title">
						<h3>Platinum</h3>
						<p><strong class="value">$299</strong />/ month</p>
					</div>
					<ul>
						<li>10GB Disk Space</li>
						<li>100 Email Account</li>
						<li>Script Installer</li>
						<li>10 GB Bandwidth</li>
						<li>Priority Phone Support</li>
					</ul>
					<a class="btn btn-transparent" href="~/Identity/Account/Register">Signup</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Testimonial section -->
<section id="testimonial" class="testimonial overly section bg-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
					<div class="item text-center">
						<div class="client-thumb">
							<img src="images/team/2-png.png" class="img-fluid" alt="Meghna">
						</div>
						<div class="client-info">
							<div class="text-white">
								<p class="h3">Upload and analyze your images.</p>
							</div>
						</div>
					</div>
					<div class="item text-center">
						<div class="client-thumb">
							<img src="images/team/3-case.png" class="img-fluid" alt="Meghna">
						</div>
						<div class="client-info">
							<div class="text-white">
								<p class="h3">Create a manage your cases based on modules.</p>
							</div>
						</div>
					</div>
					<div class="item text-center">
						<div class="client-thumb">
							<img src="images/team/4-ml.png" class="img-fluid" alt="Meghna">
						</div>
						<div class="client-info">
							<div class="text-white">
								<p class="h3">Use machine learning to speed up your investigations.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Contact us section -->
<section id="contact-us" class="contact-us section-bg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Get In <span class="color">Touch</span></h2>
					<div class="border"></div>
				</div>
			</div>
			<div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
				<h3>Contact Details</h3>
				<p>You can always contact our university in case you need that, or come join us in our academic work on AGH</p>
				<div class="contact-details">
					<div class="con-info clearfix">
						<i class="tf-map-pin"></i>
						<span>aleja Adama Mickiewicza 30, 30-059 Kraków</span>
					</div>

					<div class="con-info clearfix">
						<i class="tf-ion-ios-telephone-outline"></i>
						<span>Phone: 12 617 22 22 </span>
					</div>

					<div class="con-info clearfix">
						<i class="tf-ion-ios-email-outline"></i>
						<span>Email: projektKKK@gmail.com </span>
					</div>
				</div>
			</div>
			<div class="contact-form col-lg-6 mt-4 mt-lg-0 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" method="post" action="" role="form">
					<div class="form-group">
						<input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
					</div>

					<div class="form-group">
						<input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
					</div>

					<div class="form-group">
						<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
					</div>

					<div class="form-group">
						<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
					</div>

					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Google Map -->
	<iframe style="width:100%;" height="500" src="https://maps.google.com/maps?q=AGH%20Krak%C3%B3w&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
	<!-- /Google Map -->
</section> 
