@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewBag.Title = "Admins";
}
@if (Admins.admins.Contains(@UserManager.GetUserName(User)))
{
<table class = "table table-striped adminTable text-white">
    <tr>
        <th scope="col">
            <h1>Administrative accounts</h1>
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td scope="row">
            @item
        </td>
    </tr>
    }
</table>
}
else{
    <h1 class="text-center mt-5">YOU HAVE NO PERMISSION TO ACCESS THIS SITE! PLEASE CONTACT YOUR ADMINISTRATOR</h1>
}