@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<TrikProjekt56.Models.Case>
@{
    ViewData["Title"] = "MachineLearning";
}
@if (Admins.admins.Contains(@UserManager.GetUserName(User)))
{
<div class="grid-container">
  <div class="grid-item">
      <img src="~/img/maint_wip.gif" style="width:200px; height:200px;"/> 
  </div>
  <div class="grid-item">
      <img src="~/img/maint_wip.gif" style="width:200px; height:200px;"/> 
  </div>
  <div class="grid-item">
      <img src="~/img/maint_wip.gif" style="width:200px; height:200px;"/> 
  </div>
  <div class="grid-item">
      <img src="~/img/maint_wip.gif" style="width:200px; height:200px;"/> 
  </div>
  <div class="grid-item">
      <img src="~/img/maint_wip.gif" style="width:200px; height:200px;"/> 
  </div>
</div>
}
else{
    <h1 class="text-center mt-5">YOU HAVE NO PERMISSION TO ACCESS THIS SITE! PLEASE CONTACT YOUR ADMINISTRATOR</h1>
}