/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  height:100%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('../img/y-so-serious-white.png');
    background-repeat: repeat;
    height: 100%;
}
.footer {
  white-space: nowrap;
  line-height: 40px; /* Vertically center the text there */
}

.expander {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.b-example-divider {
    height: 2rem;
    background-color: rgba(0, 0, 0, .8);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.Index {
    left: 0px;
    min-height: 90%;
    min-width: 100%;
    background-image: url('../img/y-so-serious-white.png');
    background-repeat: repeat;
}

.MainContainer {
    margin: auto;
    width: 60%;
    top: 50%;
    left: 50%;
    padding: 20px;
    min-width: 400px;
}

.MainContainer section {
    border-radius: 15px;
    background-image: url('../img/so-white.png');
    background-repeat: repeat;
}

.MainContainer form {
    border-radius: 15px;
    padding: 2em;
}

.MainContainer section:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.myBackground {
    background-image: url('../img/so-white.png');
    background-repeat: repeat;
    margin-bottom: 0px !important;
}

::-webkit-scrollbar {
    display: none;
}

input[type=checkbox]{
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #555555;
    border-radius: 25px;
}

.smallinput {
    display: inline-block !important; 
    height: 12px !important;
}

@media all and (max-width: 600px) {
    .target {
        display: none;
    }
}
@media all and (min-width: 600px) {
    .target2 {
        display: none;
    }
}

table.shadowtable tr:hover td {
    background-color: #FEFEFE;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.bottomtext {
    margin-top:5px !important;
    font-size: 1.1rem !important;
    line-height: 1rem !important;
}

nav div ul li a:hover {
    background-color: red;
    transition: all 0.5s;
}

/*GRAPHS*/
#chart_container {
    width: 400px;
    height: 200px;
    border: 1px solid #ddd;
}
#chart_container2 {
    width: 400px;
    height: 200px;
    border: 1px solid #ddd;
}