@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - TrikProjekt56</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-3 fa-lg mr-1"></i><i class="fa-solid fa-k fa-lg mr-1"></i><i class="fa-solid fa-magic-wand-sparkles fa-lg mr-1"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house fa-lg mr-1"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa-solid fa-key fa-lg mr-1"></i>Privacy</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                        <li class="dropdown nav-item">
                            <a class="nav-link dropdown-toggle text-white" aria-expanded="true" aria-haspopup="true" data-toggle="dropdown">
                                <i class="fa-brands fa-buffer fa-lg mr-1"></i>Modules
                            </a>
                        <ul class="dropdown-menu myBackground">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Location" asp-action="Index">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Age" asp-action="Index">Age</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hair" asp-action="Index">Hair</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gender" asp-action="Index">Gender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Religion" asp-action="Index">Religion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Education" asp-action="Index">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Height" asp-action="Index">Height</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Weight" asp-action="Index">Weight</a>
                        </li>
                        </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white target" asp-area="" asp-controller="Case" asp-action="Index"><i class="fa-solid fa-list fa-lg mr-1"></i>Cases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white target2" asp-area="" asp-controller="Case2" asp-action="Index"><i class="fa-solid fa-list fa-lg mr-1"></i>Cases - mobile</a>
                        </li>
                            @if (Admins.admins.Contains(@UserManager.GetUserName(User)))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="Index"><i class="fa-solid fa-share-nodes fa-lg mr-1"></i>Machine Learning</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="Index"><i class="fa-solid fa-image fa-lg mr-1"></i>Images</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Case" asp-action="ShowCaseData"><i class="fa-solid fa-chart-pie fa-lg mr-1"></i>Statistics</a>
                                </li>  
                            } 
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" style="padding-bottom: 3rem!important;">
            <!--Dialog sukces-->
            <div id="mySuccess" class="modal fade text-width: 30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Info</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>    
                        <div id="MySuccessBody" class="modal-body alert alert-success">
                            Pełen sukces 
                        </div>
                        <div class="modal-footer">
                            &nbsp;
                            <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Dialog sukces koniec-->
            <!--Dialog error start-->
            <div id="myError" class="modal fade text-width:30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Error</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="MyErrorBody" class="modal-body alert alert-danger">
                            this is a modal body. our message will appear here.
                        </div>
                        <div class="modal-footer">
                            &nbsp;
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--Dialog error koniec-->
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-center text-white fixed-bottom bg-dark">
      <div>
        © 2022 Copyright:
        <a class="text-white" href="https://trikapp.azurewebsites.net/">TrikProject</a>
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
